* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
}
:root{
    --primary-color:#fff;
}
.hii {
    display: flex;
    gap: 25px;
    width:98vw;
    height: 3vh;
    background-color: rgb(220, 137, 12);
    position: sticky;
}

.Goi {
    font-size: 15px;

}

.MOE {
    font-size: 15px;
}
.year{
    font-size: 15px;
  margin-left:25vw;
}
.logo{
    width:70vw;
    height:15vh;
    display:flex;
    gap:0;
}
.logo .box {
    width: 5vw;
    height: 15vh;
    margin-top: 2px;
    background-image: url(logo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo .box2{
    width:7vw;
    height:3vh;
    background-image: url(logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:50px;
    margin-left:6vw;
}
 .list{
    margin-left:80vw;
    height:20vh;
    width:20vw;
    margin-right:2vw;
    margin-top: -12vh;
 }
.items{
    
    list-style-type: none;
    font-size: 15px;
    row-gap:30px;
    display:none;
    flex-direction: column;
    color:black;
    margin-top: -12vh;
   
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
}
.icon1{
    margin-left:95vw;
    color:black;
    font-size: 20px;
    display: flex;
    margin-top: -22vh;
   
}
.icon2{
    margin-left:95vw;
    color:black;
    font-size: 20px;
    display: none;
    margin-top: -22vh;
}
a:-webkit-any-link:hover{
    text-decoration: underline 2px rgb(241, 68, 97);
    transition: 0.3s;
    font-size:20px ;

}
#heading{
    margin-left:1vw;
    margin-top: 25vh;
    font-size:45px;
    font-weight:bold;
}
.icon3{
    margin-left:35vw;
    width:1vw;
    font-size:20px;
    margin-top:5vh;
}
.msg{
    width:40vw;
    margin-top:8vh;
    font-size:15px;
    color:red;
    display:none;
   
}
.ask{
    margin-left:5px;
    margin-top:5vh;
    font-size:20px;
    font-weight:bold;
}
.logo2{
    margin-top:15vh;
    margin-left:-30vw;
    width:50vw;
    font-size:30px;
    color:rgb(233, 124, 7)
}
.about span{
    color:rgb(247, 19, 95);
    font-size:45px;
    font-family: sans-serif;
}
.about{
    width:95vw;
    font-size: 20px;
    margin-top:20px;
    font-family: sans-serif;
    text-align: justify;
}
.images{
    display:flex;
}
.image1{
    height:300px;
    width:450px;
    margin-top: 30px;
    margin-left:20px;
    background-image: url(image1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:15px;
}
.image2{
    height:300px;
    width:450px;
    margin-top: 30px;
    margin-left:30px;
    background-image: url(image3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:15px;
}
.image3{
    height:300px;
    width:450px;
    margin-top: 30px;
    margin-left:30px;
    background-image: url(image2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 15px;
}
#nsp{
    margin-top: 2vh;
    font-size:45px;
    font-weight:bold;
    margin-left:1vw;
}
.image4{
    height:100px;
    width:100px;
    margin-top: 20px;
    margin-left:1vw;
    background-image: url(image4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    border: 5px solid blanchedalmond;
}
.btn1{
    margin-left:-60vw;
    margin-top:17vh;
    font-size:20px;
    background-color:burlywood;
    border-color:  burlywood;
    border-radius:5px;
    font-weight: bold;
    color: #fff;
    
}
#ffe{
    display: flex;
}
.ffe{
    display:flex;
    margin-left:5vw;
}
.title{
    margin-left:30vw;
    margin-top:-2vh;
    font-size: 22px;
    font-weight: bold;
    color:rgb(233, 124, 7);
    width:20vw;
}
.detail{
    display: flex;
    margin-left:-70vw;
    margin-top:15vh;
   

}
.detail1{
    font-size: 15px;
    margin-top: 8vh;
    width:40vw;
   

}
.detail2{
    font-size: 15px;
    margin-top: 8vh;
    width:40vw;
    margin-left:5vw;


}
.aboutffe{
    margin-top:2vh;
    width:70vw;
    font-size: 20px;
    margin-left:-45vw;
}
.btn1 a:-webkit-any-link:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
}
.image5{
    height:100px;
    width:100px;
    margin-top:5vh;
    margin-left:6vw;
    background-image: url(image5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    border: 5px solid blanchedalmond;
}
hr{
    width:50vw;
    border:1px solid black;
   margin-left: 25vw;
   margin-top:2vh;
}
.nsp2{
    display:flex;
}
.nsp{
    font-size:22px;
    color:rgb(251, 17, 169);
    margin-top:5vh;
    margin-left:30vw;
    font-weight: bold;
    width:30vw
}
.aboutnsp{
    width:80vw;
    font-size: 20px;
    margin-left:-58vw;
    margin-top:12vh;
    text-align: justify;
}
.obj{
    display: flex;
}
.obj1{
    font-size:20px;
    margin-left:15vw;
    margin-top:5vh;
}
.btn2{
    margin-left:50vw;
    margin-top: -4vh;
    font-size:20px;
    background-color:burlywood;
    border-color:  burlywood;
    border-radius:5px;
    font-weight: bold;
    color: #fff;
}
.btn2 a:-webkit-any-link:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
}
.obj2{
    font-size:15px;
    margin-left:3vw;
    margin-top:5vh;
}
.ssp{
    margin-top: 2vh;
    font-size:45px;
    font-weight:bold;
    margin-left:1vw;
}
.container{
    margin-top:3vh;
    height:80vh;
    width:98vw;
    background-image: url(image7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    z-index: 0;
    position: relative;
}
.images2{
    display:flex;
}
.image6{
    height:32vh;
    width:25vw;
    background-image: url(image6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    margin-left:10vw;
    margin-top:-75vh;
    position: relative;
}
.image10{
    height:32vh;
    width:25vw;
    background-image: url(image10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    margin-top:-75vh;
    position: relative;
    margin-left: 40px;
}
.image9{
    height:32vh;
    width:25vw;
    background-image: url(image9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    margin-top:-75vh;
    position: relative;
    margin-left: 40px;
}
.images3{
    display:flex;
    margin-left:13vw;
}
.image8{
    height:32vh;
    width:16vw;
    background-image: url(image8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    margin-top:-40vh;
    position: relative;
    margin-left: 40px;
}
.image11{
    height:32vh;
    width:16vw;
    background-image: url(image11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    margin-top:-40vh;
    position: relative;
    margin-left: 40px;
}
.image12{
    height:32vh;
    width:16vw;
    background-image: url(image12.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    margin-top:-40vh;
    position: relative;
    margin-left: 40px;
}
.image13{
    height:32vh;
    width:16vw;
    background-image: url(image13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    margin-top:-40vh;
    position: relative;
    margin-left: 40px;
}
.layer{
    width: 85%;
    height: 0%;
    background: linear-gradient(rgba(183, 183, 167, 0.6), hsl(49, 31%, 59%));
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.image6:hover .layer{
    height: 100%;
}
.image11:hover .layer{
    height: 100%;
}
.image12:hover .layer{
    height: 100%;
}
.image13:hover .layer{
    height: 100%;
}
.image8:hover .layer{
    height: 100%;
}
.image9:hover .layer{
    height: 100%;
}
.image10:hover .layer{
    height: 100%;
}
.loan{
    margin-top: 2vh;
    font-size:45px;
    font-weight:bold;
    margin-left:2vw;
}
.aboutloan{
    width:90vw;
    font-size: 20px;
   margin-left:2vw;
   margin-top: 5vh;
}
.aboutloan p{
    margin-top:5vh;
}
.images4{
    margin-left:5vw;
    margin-top:3vh;
    display: flex;
}
.logo3{
    width:10vw;
    height:10vh;
    background-image: url(sbi.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo3 p{
    margin-top:10vh;
    width:10vw;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}
.logo4{
    width:10vw;
    height:10vh;
    background-image: url(bob.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left:5vw;
}
.logo4 p{
        margin-top:10vh;
        width:10vw;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
    }
.logo5{
        width:10vw;
        height:10vh;
        background-image: url(axis.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left:5vw;
    }
    .logo5 p{
        margin-top:10vh;
        width:10vw;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
    }
    .logo6{
        width:10vw;
        height:10vh;
        background-image: url(pnb.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left:5vw;
    }
    .logo6 p{
        margin-top:10vh;
        width:10vw;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
    }
    .logo7{
        width:10vw;
        height:10vh;
        background-image: url(hdfc.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left:5vw;
    }
    .logo7 p{
        margin-top:10vh;
        width:10vw;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
    }
    .logo8{
        width:10vw;
        height:10vh;
        background-image: url(icici.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left:5vw;
    }
    .logo8 p{
        margin-top:10vh;
        width:10vw;
        font-weight: bold;
        text-align: center;
        font-size: 12px;
    }
    #help{
        background-color:rgb(134, 130, 130);
        width:100vw;
        height:40vh;
        margin-top:10vh;
    }
    .help{
        text-align:center;
        font-size: 45px;
        color: rgb(232, 225, 225);
        font-family: sans-serif;
    }
    .contact{
        margin-left:25vw;
        font-size: 20px;
        margin-top:3vh;
    }
    .contact p{
        font-size:30px;
        color:rgb(25, 60, 214);
        font-weight: 900;
    }
    .email{
            margin-left:35vw;
            font-size: 20px;
            margin-top:-12vh;
        }
    .email p{
        font-size:25px;
        color:black;
    } 
    .line{
        border-left: 2px solid rgb(228, 219, 219);
        height:100px;
        margin-left:25vw;
        margin-top:-6vh;
    }  
    .copyright{
        width: 100vw;
        height: 3vh;
        background-color: rgb(220, 137, 12);
        text-align:center;
        font-size:20px;
        color:rgb(235, 239, 243);

    } 
